/* This file is part of examClock: Simple clock, countdown, and message board for taking exams
Copyright (C) 2016 Fabio Correa fabio5@umd.edu

https://github.com/facorread/examClock
https://gitlab.com/facorread/examClock

examClock is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

examClock is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with examClock.  If not, see <http://www.gnu.org/licenses/>.
*/

* {
    margin:0;
    padding:0;
    font-family:sans-serif;
    color:white;
    background-color:black;
    border:none;
    outline:none;
    text-align:center;
}

.timeTable {
    font-size:65px;
    width:100%;
    height:auto;
    padding:0 1px 0 1px;
}

.currentTimeCell {
    text-align:left;
}

.examTimeCell {
    text-align:right;
}

.ExamMessagesDiv {
    max-width:100%;
    height:100%;
}

.ExamMessages {
    font-size:55px;
    width:99%;
    resize:none;
}
